<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Simple7DTDServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Simple7DTDServer.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="extServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="extServerPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="portWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverAutoMapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentVirsion" serializeAs="String">
                <value>alpha13</value>
            </setting>
        </Simple7DTDServer.Properties.Settings>
    </userSettings>
</configuration>
