<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Simple7DTDServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Simple7DTDServer.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>Japanese</value>
            </setting>
            <setting name="extServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="extServerPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="portWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverAutoMapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentVersion" serializeAs="String">
                <value>alpha14</value>
            </setting>
            <setting name="autoSaveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideLPOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="day" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoSaveInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kickMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="automaticUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="banDuration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="comboBoxIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hideSAOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showBanList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPlayerList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEasyCommands" serializeAs="String">
                <value>True</value>
            </setting>
        </Simple7DTDServer.Properties.Settings>
    </userSettings>
</configuration>
